extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.main
		.st-width
			.main__content
				.main__info
					.main__top
						.main__logo
							img(src="assets/img/logo.png", alt="")

						.lang.js-lang
							.lang__main.js-lang-main
								.lang__icon
									img(src="assets/img/lang-ru.png", alt="").js-lang-img
								.lang__text.js-lang-text Ru

								.lang__arr
									+svg('ic-arrow-down','ic-arrow-down', '10', '6')

							.lang__popup.js-lang-popup
								-
									var list=[
										{img:'lang-cz.png', text:'Cz', data:'cz'},
										{img:'lang-en.png', text:'En', data:'en'},
										{img:'lang-de.png', text:'De', data:'de'},
										{img:'lang-fr.png', text:'Fr', data:'fr'},
										{img:'lang-ru.png', text:'Ru', data:'ru', status:'active'},
										{img:'lang-pl.png', text:'Pl', data:'pl'},
									]

								each item in list
									.lang__item.js-lang-item(class=item.status?'active':'', data-language=item.data)
										.lang__icon
											img(src="assets/img/"+item.img, alt="").js-lang-img
										.lang__text.js-lang-text= item.text

					.spec-head
						span.spec-head__accent(data-lang='sc_one_title_yellow') Врывайся в сражение 
						span(data-lang='sc_one_title') на самых современных танках

					.main__btn
						a.btn(href='#')
							span.btn__content(data-lang='btn_play_free') Играй бесплатно


				.bookmark
					.bookmark__content
						.bookmark__title(data-lang='bookmark_title') Начни играть
						.bookmark__text(data-lang='bookmark__text') и получи бесплатный набор с танком <b>Type 59-IIA Legend</b> и&nbsp<b>7&nbsp;днями премиум-статуса</b> прямо на свой игровой аккаунт
						.bookmark__img
							img(src="assets/img/tank-seven.png", alt="")


			.scroll-down
				img(src="assets/img/scroll-down.png", alt="")
	
	section.about
		.st-width
			.about__content
				.about__update(data-lang='about_update') Обновление 0.34

				.about__title(data-lang='about_title') Апокалипсис
			
				.about__text-wrap
					.about__info
						.about__text(data-lang='about_text') <b>Обновление уже в игре!</b> Сразитесь с врагом на осколках разрушенной цивилизации.

						a.btn-border(href='#')
							span.btn-border__content(data-lang='btn_play') Играть
						
					.about__desc(data-lang='about_desc') Летом 2044 года началась катастрофа чудовищных масштабов: массовые извержения вулканов и землетрясения за несколько часов стерли с лица земли большинство современных цивилизаций и поставили под угрозу само существование человечества.
	
	section.tanks
		.st-width
			.tanks__content
				.tanks__top
					.tanks__logo
						img(src="assets/img/logo-echo.png", alt="")

					.tanks__text(data-lang='tanks_text') Получите <b>5 премиумных</b> российских боевых машин, <b>облики</b>, <b>золото</b> и многое другое!
				
		.slider-tanks.js-slider-tanks
			-
				var list=[
					{img:'tank1.png', type:'Зенитная установка', name:'Kurganets-25'},
					{img:'tank2.png', type:'Танк 2', name:'Танк 2'},
					{img:'tank3.png', type:'Танк 3', name:'Танк 3'},
					{img:'tank4.png', type:'Танк 4', name:'Танк 4'},
					{img:'tank5.png', type:'Танк 5', name:'Танк 5'},
				]

			each item, index in list
				.slider-tanks__item
					.st-width
						.slider-tanks__img
							img(src="assets/img/"+item.img, alt="")

						.slider-tanks__info
							.slider-tanks__type(data-lang='slider_tanks_type'+index)= item.type
							.slider-tanks__name(data-lang='slider_tanks_name'+index)= item.name

	section.awards
		.st-width
			.awards__content
				.awards__top
					.spec-head
						span.spec-head__accent(data-lang='sc_four_title_yellow') Ежедневные награды 
						span(data-lang='sc_four_title') для новичков
				
					.awards__text(data-lang='awards_text') <b>30 дней премиум-статуса, репутация, золото, «Объект 279»</b> и множество других наград за входы в игру для новичков.

				.awards-list
					-
						var list=[
							{img:'coins.png', text:'1 500'},
							{img:'30days.png', text:'30 ', lang:'дней'},
							{img:'awards.png', text:'15 000'},
						]

					each item in list
						.awards-list__item
							.awards-list__img
								img(src="assets/img/"+item.img, alt="")

							.awards-list__text= item.text
								if(item.lang)
									span(data-lang='days')= item.lang

				.awards__desc
					p(data-lang='awards_desc_p1') После приобретения набора вам откроется новый раздел в меню игры.
					p(data-lang='awards_desc_p2') В течение <b>30 дней</b> там вы будете получать награды за вход в игру. Среди них: <b>золото</b>, <b>премиум-статус</b>, <b>кредиты</b> и <b>премиумная техника</b>.
					
					.awards__btn
						a.btn(href='#')
							span.btn__content(data-lang='btn_play_free') Играй бесплатно

			.scroll-down
				img(src="assets/img/scroll-down.png", alt="")

	section.services
		.st-width
			.services__content
				.services-list
					-
						var list=[
							{img:'ic-pvp', text:'pvp', status:'active'},
							{img:'ic-tank', text:'Классы'},
							{img:'ic-technology', text:'Технологии'},
							{img:'ic-pve', text:'PVE'},
							{img:'ic-map', text:'Карты'},
							{img:'ic-parachute', text:'Десант'},
						]

					each item, index in list
						.services-list__item.js-services-list-item(class=item.status?'active':'', data-index=index)
							.services-list__icon
								+svg(item.img, item.img, '52', '52')
							.services-list__text(data-lang='services_text'+index)= item.text

				.services-list-decs
					-
						var list=[
							{title:'pvp', text:'Выбирайте машину себе по душе. Вас ждут целых 5 различных классов техники, каждый — со своими особенностями и геймплеем', status:'active'},
							{title:'Классы', text:'Выбирайте машину себе по душе. Вас ждут целых 5'},
							{title:'Технологии', text:'Выбирайте машину себе по душе. Вас ждут целых 5 различных классов техники, каждый — со своими особенностями и геймплеемю Выбирайте машину себе по душе. Вас ждут целых 5 различных классов техники, каждый — со своими особенностями и геймплеем'},
							{title:'PVE', text:'Выбирайте машину себе по душе.'},
							{title:'Карты', text:'Выбирайте машину себе по душе. Вас ждут целых 5 различных классов техники'},
							{title:'Десант', text:'Выбирайте машину себе по душе. Вас ждут целых 5 различных'},
						]

					each item, index in list
						.services-list-decs__item.js-services-list-decs-item(class=item.status?'active':'', data-index=index)
							.services-list-decs__title(data-lang='services_text'+index)= item.title
							.services-list-decs__text(data-lang='services_decs_text'+index)= item.text
	
	section.footer
		.st-width
			.footer__content
				.footer__text(data-lang='footer_text') © 2021 Postmeta Games LTD. All rights reserved.<br>All trademarks are the property of their respective owners.

				a.btn(href='#')
					span.btn__content(data-lang='into_battle') В бой!

				.partner
					-
						var list=[
							{img:'allods.png'},
							{img:'cryengine.png'},
							{img:'mygames.png'},
							{img:'obsidian.png'},
						]

					each item in list
						.partner__item
							img(src="assets/img/"+item.img, alt="")

				.footer__age 12+